
.Active{
	background-color: #C6E7EC;
}


/* added by ganesh on 20 march13 for styling submit button in survey list    */

form[name="survey-list"] input[type="submit"] {
cursor: pointer;
background: skyblue;
border-radius: 8px;
height: 20px;
width: 50px;
font-weight: bold;
color:white;
margin-right:10px;

}

#addsurvey{
text-decoration:none;
background: skyblue;
border-radius: 8px;
height: 20px;
width: 50px;
font-weight: bold;
color:white;
padding:2px 10px;
font-family:arial;
}

form[name="survey-list"]{
margin-top:10px;
}



/* ended by ganesh on 20 march13  */